In [1]:
import os
import pandas as pd
import similarity_index as similarity_index

In [2]:
OUT_DIR = "outputs"
XL_PATH = r"inputs/radiomicsFeatures.csv"

In [3]:
num_repeats = 100

feats_df = pd.read_csv(XL_PATH)

In [45]:
stability_df = {"fs_method":[], "similarity_measure":[], "top_k":[], "estimate":[]}

fs_methods = ["random", "oneDSAE", "bayesianDSAE", "ensembleDSAE", "backwardSFS/LogisticRegression", "backwardSFS/SVC", "backwardSFS/RandomForestClassifier", "backwardSFS/MLPClassifier"]
similarity_methods = {"jaccard":similarity_index.jaccard, "dice":similarity_index.dice, "kuncheva":similarity_index.kuncheva, "mwm":similarity_index.mwm}
top_ks = [5, 10, 15, 20, 25]


for fs_method in fs_methods:

    for i in range(num_repeats):
    
        for j in range(i+1, num_repeats):
    
            df1 = pd.read_csv(os.path.join(OUT_DIR, fs_method, f"rank_df{i}.csv"))
            df2 = pd.read_csv(os.path.join(OUT_DIR, fs_method, f"rank_df{j}.csv"))

            for similarity_measure, similarity_fn in similarity_methods.items():

                for k in top_ks:

                    estimate = similarity_fn(df1=df1, df2=df2, k=k, feats_df = feats_df)

                    stability_df["fs_method"].append(fs_method)
                    stability_df["similarity_measure"].append(similarity_measure)
                    stability_df["top_k"].append(k)
                    stability_df["estimate"].append(estimate)

                
            estimate = similarity_index.global_spearman(df1, df2)

            stability_df["fs_method"].append(fs_method)
            stability_df["similarity_measure"].append("global_spearman")
            stability_df["top_k"].append("NA")
            stability_df["estimate"].append(estimate)

In [46]:
stability_df = pd.DataFrame(stability_df)

In [47]:
mean_stability_df = stability_df.groupby(by=["fs_method", "similarity_measure", "top_k"]).mean()

In [48]:
mean_stability_df.loc['random']

                          estimate
similarity_measure top_k
dice               5      0.056525
                   10     0.112162
                   15     0.167084
                   20     0.222717
                   25     0.279451
global_spearman    NA     0.000558
jaccard            5      0.032088
                   10     0.062205
                   15     0.093689
                   20     0.127768
                   25     0.164742
kuncheva           5      0.000366
                   10    -0.000223
                   15    -0.001750
                   20    -0.002582
                   25    -0.002014
mwm                5      0.351689
                   10     0.452002
                   15     0.519344
                   20     0.572751
                   25     0.614868

In [49]:
mean_stability_df.loc['bayesianDSAE']

                          estimate
similarity_measure top_k
dice               5      0.384808
                   10     0.531495
                   15     0.595461
                   20     0.622313
                   25     0.625648
global_spearman    NA     0.539272
jaccard            5      0.259473
                   10     0.377176
                   15     0.436638
                   20     0.461065
                   25     0.462689
kuncheva           5      0.348190
                   10     0.472191
                   15     0.513460
                   20     0.512839
                   25     0.479417
mwm                5      0.604783
                   10     0.692374
                   15     0.732250
                   20     0.746934
                   25     0.751544

In [50]:
mean_stability_df.loc['ensembleDSAE']

                          estimate
similarity_measure top_k
dice               5      0.437212
                   10     0.575576
                   15     0.658007
                   20     0.683596
                   25     0.698861
global_spearman    NA     0.728306
jaccard            5      0.301112
                   10     0.419038
                   15     0.502142
                   20     0.528580
                   25     0.543005
kuncheva           5      0.403713
                   10     0.521851
                   15     0.588684
                   20     0.591885
                   25     0.581228
mwm                5      0.623447
                   10     0.713441
                   15     0.765639
                   20     0.780970
                   25     0.794210

In [54]:
mean_stability_df.loc['backwardSFS/MLPClassifier']

                          estimate
similarity_measure top_k
dice               5      0.126343
                   10     0.198182
                   15     0.250397
                   20     0.294626
                   25     0.340671
global_spearman    NA     0.089736
jaccard            5      0.074962
                   10     0.115183
                   15     0.147282
                   20     0.175994
                   25     0.208079
kuncheva           5      0.074340
                   10     0.096686
                   15     0.098451
                   20     0.090170
                   25     0.083120
mwm                5      0.409682
                   10     0.518777
                   15     0.575118
                   20     0.615204
                   25     0.646809

In [33]:
mean_stability_df.loc['bayesianDSAE']

                          estimate
similarity_measure top_k
dice               5      0.384808
                   10     0.531495
                   15     0.595461
                   20     0.622313
                   25     0.625648
global_spearman    NA     0.539272
jaccard            5      0.259473
                   10     0.377176
                   15     0.436638
                   20     0.461065
                   25     0.462689
kuncheva           5      0.348190
                   10     0.472191
                   15     0.513460
                   20     0.512839
                   25     0.479417
mwm                5      0.604783
                   10     0.692374
                   15     0.732250
                   20     0.746934
                   25     0.751544

In [34]:
mean_stability_df.loc['ensembleDSAE']

                          estimate
similarity_measure top_k
dice               5      0.437212
                   10     0.575576
                   15     0.658007
                   20     0.683596
                   25     0.698861
global_spearman    NA     0.728306
jaccard            5      0.301112
                   10     0.419038
                   15     0.502142
                   20     0.528580
                   25     0.543005
kuncheva           5      0.403713
                   10     0.521851
                   15     0.588684
                   20     0.591885
                   25     0.581228
mwm                5      0.623447
                   10     0.713441
                   15     0.765639
                   20     0.780970
                   25     0.794210

In [7]:
mean_stability_df.loc['random']

                          estimate
similarity_measure top_k
dice               5      0.056525
                   10     0.112162
                   15     0.167084
                   20     0.222717
                   25     0.279451
global_spearman    NA     0.000558
jaccard            5      0.032088
                   10     0.062205
                   15     0.093689
                   20     0.127768
                   25     0.164742
kuncheva           5      0.000366
                   10    -0.000223
                   15    -0.001750
                   20    -0.002582
                   25    -0.002014
mwm                5      0.351689
                   10     0.452002
                   15     0.519344
                   20     0.572751
                   25     0.614868

In [10]:
!nvidia-smi

Tue Apr 30 11:29:26 2024
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.27.04    Driver Version: 460.27.04    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   77C    P0    35W /  70W |   3152MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+
|   1  Tesla T4            Off  | 00000000:00:05.0 Off |                    0 |
| N/A   74C    P0    32W /  70W |   1709MiB / 15109MiB |     20%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+
|   2  Tesla T4            Off  | 00000000:00:06.0 Off |                    0 |
| N/A   65C    P0    30W /  70W |   3217MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+
|   3  Tesla T4            Off  | 00000000:00:07.0 Off |                    0 |
| N/A   75C    P0    31W /  70W |   2366MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A   1187709      C   ...esearch/myenv/bin/python3     1443MiB |
|    0   N/A  N/A   2934488      C   ...esearch/myenv/bin/python3      853MiB |
|    0   N/A  N/A   2935686      C   ...esearch/myenv/bin/python3      853MiB |
|    1   N/A  N/A   2934288      C   ...esearch/myenv/bin/python3      853MiB |
|    1   N/A  N/A   2936984      C   ...esearch/myenv/bin/python3      853MiB |
|    2   N/A  N/A   2935352      C   ...esearch/myenv/bin/python3      853MiB |
|    2   N/A  N/A   2957952      C   ...esearch/myenv/bin/python3     2361MiB |
|    3   N/A  N/A   2957952      C   ...esearch/myenv/bin/python3     2363MiB |
+-----------------------------------------------------------------------------+

In [ ]:
stability_df.to_csv(os.path.join(OUT_DIR, "stability_df.csv"), index=False)

In [ ]:
mean_stability_df.loc['oneDSAE']

In [ ]:
mean_stability_df.loc['oneDSAE1']

In [ ]:
mean_stability_df.loc['random']

### Statistical Analysis

##### <> 1. Random v/s FS Methods -Wilcoxon Signed Rank Test
- global, top_k = [5, 10, 15, 20, 25]

### Statistical Analysis (U_test between 4 stability estimates from conventional methods and 3 stability estimates from autoencoder variants)