In [1]:
import os
import pandas as pd
import similarity_index as similarity_index

In [2]:
OUT_DIR = "outputs"
XL_PATH = r"radiomicsFeatures.csv"

In [3]:
num_folds = 5

feats_df = pd.read_csv(XL_PATH)

In [7]:
stability_df = {"fs_method":[], "similarity_measure":[], "top_k":[], "estimate":[]}

fs_methods = ["random", "oneDSAE", "bayesianDSAE"]
similarity_methods = {"jaccard":similarity_index.jaccard, "dice":similarity_index.dice, "kuncheva":similarity_index.kuncheva, "mwm":similarity_index.mwm}
top_ks = [5, 10, 15, 20, 25]


for fs_method in fs_methods:

    for i in range(num_folds):
    
        for j in range(i+1, num_folds):
    
            df1 = pd.read_csv(os.path.join(OUT_DIR, fs_method, f"rank_df{i}.csv"))
            df2 = pd.read_csv(os.path.join(OUT_DIR, fs_method, f"rank_df{j}.csv"))

            for similarity_measure, similarity_fn in similarity_methods.items():

                for k in top_ks:

                    estimate = similarity_fn(df1=df1, df2=df2, k=k, feats_df = feats_df)

                    stability_df["fs_method"].append(fs_method)
                    stability_df["similarity_measure"].append(similarity_measure)
                    stability_df["top_k"].append(k)
                    stability_df["estimate"].append(estimate)

                
            estimate = similarity_index.global_spearman(df1, df2)

            stability_df["fs_method"].append(fs_method)
            stability_df["similarity_measure"].append("global_spearman")
            stability_df["top_k"].append("NA")
            stability_df["estimate"].append(estimate)

In [8]:
mean_stability_df = pd.DataFrame(stability_df).groupby(by=["fs_method", "similarity_measure", "top_k"]).mean()

In [12]:
mean_stability_df.loc['random']

                          estimate
similarity_measure top_k
dice               5      0.000000
                   10     0.090000
                   15     0.113333
                   20     0.180000
                   25     0.260000
global_spearman    NA    -0.061467
jaccard            5      0.000000
                   10     0.049811
                   15     0.061138
                   20     0.100288
                   25     0.151638
kuncheva           5     -0.059524
                   10    -0.025190
                   15    -0.066396
                   20    -0.057681
                   25    -0.029063
mwm                5      0.349136
                   10     0.412592
                   15     0.473180
                   20     0.541296
                   25     0.587822

In [11]:
mean_stability_df.loc['oneDSAE']

                          estimate
similarity_measure top_k
dice               5      0.300000
                   10     0.440000
                   15     0.480000
                   20     0.565000
                   25     0.596000
global_spearman    NA     0.511716
jaccard            5      0.203968
                   10     0.293926
                   15     0.336007
                   20     0.407826
                   25     0.437622
kuncheva           5      0.258333
                   10     0.369114
                   15     0.374595
                   20     0.438913
                   25     0.438188
mwm                5      0.525110
                   10     0.619385
                   15     0.656757
                   20     0.712509
                   25     0.742231

In [10]:
mean_stability_df.loc['bayesianDSAE']

                          estimate
similarity_measure top_k
dice               5      0.400000
                   10     0.540000
                   15     0.633333
                   20     0.670000
                   25     0.664000
global_spearman    NA     0.636702
jaccard            5      0.265873
                   10     0.374084
                   15     0.467088
                   20     0.506364
                   25     0.502559
kuncheva           5      0.364286
                   10     0.481772
                   15     0.559009
                   20     0.574348
                   25     0.532750
mwm                5      0.596479
                   10     0.710031
                   15     0.758431
                   20     0.774899
                   25     0.779581